.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 80px 170px;
}
.title h1{
    padding: 0px 30px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
 .about_section{ 
    display: flex;
    gap: 60px;
} 
.title span{
background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 700;
}
.about_left img{
    width: 800px;
    height: 450px;
    margin-top: -120px;
}
.about_right{
    display: flex;
    flex-direction:column;
    /* gap: 80px; */
}
.about_par{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
}
.about_skills{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.about_skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.about_skill p{
    min-width: 150px;
    }
.about_skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff);
}
.about_achievments{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* margin-bottom: 100px; */
}
.about_achievment{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5;    
}
.about_achievment h1{
font-size: 1.5rem;
background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 700;
}
.about_skill:hover{
transform: scale(1.05);
transition: 0.4s;
}
.about_achievment:hover{
    transform: scale(1.12);
    transition: 0.5s;
}
@media (max-width: 768px){
     
    .title h1{
        /* padding: 0px 30px; */
        font-size: 40px;
        font-weight: 600;
        width: 300px;
        /* text-align: center; */
    }
     .about_section{ 
        /* display: flex; */
        display: block;
        /* gap: 60px; */
    } 
    .title span{
    background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    }
    .about_left img{
        width: 800px;
        height: 450px;
        /* margin-top: -120px; */
    }
    .about_right{
        display: flex;
        flex-direction:column;
        /* gap: 80px; */
    }
    .about_par{
        /* display: flex; */
        /* flex-direction: column; */
        gap: 20px;
        font-weight: 500;
    }
    .about_skills{
        /* display: flex; */
        /* flex-direction: column; */
        gap: 10px;
        margin-top: 10px;
    }
    .about_skill{
        /* display: flex; */
        gap: 50px;
        align-items: center;
        transition: 0.3s;
    }
    .about_skill p{
        min-width: 150px;
        }
    .about_skill hr{
        outline: none;
        border: none;
        width: 50%;
        height: 8px;
        border-radius: 50px;
        background: linear-gradient(264deg, #df8908 -5.09%, #b415ff);
    }
    .about_achievments{
        /* display: flex; */
        width: 100%;
        /* justify-content: space-around; */
        margin-bottom: 100px;
    }
    .about_achievment{
        /* display: flex; */
        /* flex-direction: column; */
        align-items: center;
        gap: 10px;
        transition: 0.5;    
    }
    .about_achievment h1{
    font-size: 1.5rem;
    background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    }
    .about_skill:hover{
    transform: scale(1.05);
    transition: 0.4s;
    }
    .about_achievment:hover{
        transform: scale(1.12);
        transition: 0.5s;
    }

}