@font-face {
    font-family: poppins;
    src: url(../src/assets/Poppins/Poppins-Regular.ttf);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: poppins;
    background-color: rgb(189, 181, 181);
}